.ampoule {
    width: 150px;
    height: 150px;
    border: black solid 2px;
    border-radius: 50%;
    padding: 50px;
}

.open {
    background-color: yellow;
}

.close {
    background-color: black;
    color: white;
}